{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/room.css' %}">
{% endblock %}

{% block content %}
    <!-- Room <br> <br>
    Invite code: {{room.invite_code}} <br> <br>

    {% if room.admin.user == request.user and users|length > 1 %}
        
        Zarzadzaj użytkownikami: <br>
        {% for user in users %}
            {% if not request.user.username == user.user.username %}
                <div>{{user.user.username}} <button><a href="remove/{{user.pk}}/">USUŃ</a></button></div><br>
            {% endif %}
        {% endfor %}
    
    {% endif %}

    <form method="POST" id="addTask">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title"> <br>
        <input type="text" name="description" placeholder="Description"> <br>
        <input type="datetime-local" name="date"> <br>
        <select name="importance" id="importance">
            <option value="trivial">Trivial</option>
            <option value="important">Important</option>
            <option value="high_priority">High Priority</option>
            <option value="very_important">Very Important</option>
        </select>
        <input type="submit" value="Add Task">
    </form>




    <h3>Sort by:</h3>
    <a href="?sort=date">Date</a>
    <a href="?sort=importance">Importance</a>

    <script>
        const sort = new URLSearchParams(window.location.search).get('sort')
        if(sort == null || sort == ''){
            window.location.search = '?sort=date'
        }


        //*************** SEND TASKS ***************
        $('#addTask').on('submit', function(e) {
            e.preventDefault();

            var title = $('input[name="title"]').val();
            var description = $('input[name="description"]').val();
            var date = $('input[name="date"]').val();
            var importance = $('#importance').val();

            $.ajax({
                url: 'add-task/',
                type: 'POST',
                data: {
                    title: title,
                    description: description,
                    date: date,
                    importance: importance
                },
                headers: {
                    'X-CSRFToken': '{{csrf_token}}'
                },
                success: function(response) {
                    getTasks()
                }
            });
        });


        //*************** ADD SUBTASK ***************
        function addSubtask(task_id){
            event.preventDefault();
            var form = event.target;
            var title = form.querySelector('input[name="title"]').value;

            $.ajax({
                url: 'add-subtask/',
                type: 'POST',
                data: {
                    title: title,
                    task_id: task_id
                },
                headers: {
                    'X-CSRFToken': '{{csrf_token}}'
                },
                success: function(response) {
                    getTasks()
                }
            });
        }


        //*************** GET TASKS ***************
        function getTasks(){
            $.ajax({
                url: 'get-tasks/?sort=' + sort,
                type: 'GET',
                success: function(data) {
                    $('#tasks').html('');
                    data.tasks.forEach(function (task) {
                        //*********************************
                        // HERE ARE ELEMENTS WITH THE TASKS
                        //*********************************

                        //******** START TASK DIV ********
                        $('#tasks').append(
                            `<div id="taskID${task.id}" onchange='completeTask(${task.id}, "task")'>` +
                                '<h2 class="title">' + task.title + '</h2>' +
                                '<h4 class="desc">' + task.description + '</h4>' +
                                '<h4 class="date">' + task.date + '</h4>' +
                                '<h4 class="importance">' + task.importance + '</h4>' +
                                '<input class="checkbox" type="checkbox" id="check' + task.id + '" ><br><br>'
                        )

                        //******** START SUBTASKS DIV ********
                        data.subtasks.forEach(function(subtask){
                            if(subtask.task_id == task.id){
                                $('#tasks').append(
                                    `<div id="subtaskID${subtask.id}" onchange='completeTask(${subtask.id}, "subtask")'>` +
                                        subtask.title +
                                        '<input type="checkbox" class="checkbox" id="subcheck' + subtask.id + '" >' +
                                    '</div>'
                                )
                                document.getElementById('subcheck' + subtask.id).checked = subtask.completed; //SET CHECKBOX STATE FROM DATABASE
                            }
                        })
                        //******** END SUBTASKS DIV **********


                        //******** START ADD SUBTASK FORM ********
                        $('#tasks').append(
                            '<form method="POST" id="addSubtask' + task.id + '" onsubmit="addSubtask(' + task.id + ')">' +
                                '{% csrf_token %}' +
                                '<br><input type="text" name="title" placeholder="Title">' +
                                '<input type="submit" value="Add Subtask">' +
                            '</form>'
                        )
                        //******** END ADD SUBTASK FORM ********


                        //******* END TASK DIV *******
                        $('#tasks').append(
                                '<hr>' +
                            '</div>'
                        );
                        document.getElementById('check' + task.id).checked = task.completed; //SET CHECKBOX STATE FROM DATABASE
                    })
                }
            });
        }
        getTasks()

        //*************** SAVE COMPLETE TASK ***************
        //********* task_type: task or subtask *************
        function completeTask(id, task_type){
            task = task_type == 'task' ? $('#taskID' + id) : $('#subtaskID' + id)
            // console.log(task.find('.checkbox'))
            // console.log(task.find('.checkbox').prop('checked'))
            $.ajax({
                url: 'complete-task/' + id + '/' + task_type + '/',
                type: 'POST',
                data: {
                    completed: task.find('.checkbox').prop('checked')
                },
                headers: {
                    'X-CSRFToken': '{{csrf_token}}'
                },
                success: function(response) {
                    getTasks()
                },
                error: function(xhr, status, error) {
                    console.error('Blad AJAX:', status, error);
                }
            });
        }
    </script>

    <br> <br> -->

    <!-- ************** TASKS DIV **************** -->
    <!--<div id="tasks"></div>-->

    <script src="{% static 'js/getTasks.js' %}"></script>

    <div name="main-container" class="flex flex-col m-5">
        <div name="navigationBar" class="w-full bg-black h-14"><!--There will be date selector, settings, profile pic, etc - Look at figma-->
        </div>
        <div name="mainContent" class="flex w-full mt-4 flex-row">
            <div name="left-column" class="flex flex-col gap-2"> <!--Left column for clock, notes etc.-->
                <div name="helloUserAndClock" class="flex flex-col w-full bg-[#F1F9FE] rounded-lg border-[2px] border-[#ced7dcbb] shadow-[3px_3px_0px_#CAD1D6] drop-shadow-md">
                <!--Clock,Date,Hello User and Progress Bar-->
                
                    <div name="helloUserAndClock-content" class="flex flex-col w-[90%] ml-10 justify-center m-10 mt-6 mb-4 border-l border-l-black pt-0 pr-10">
                        <div name="helloUserAndDate" class="flex flex-col justify-start ml-4">

                            <p name="helloUser" class="font-Poppins text-[12px] text-[#818AA3] m-0 drop-shadow-md">Hello, <span class="font-medium text-[16px] drop-shadow-md">Filip</span></p> <!--Pobierz użytkownika z bazy-->
                            <p name="date" class="text-[#09151B] text-[24px] font-semibold mt-[-10px]" style="filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.4));">Today is Friday 19th</p> <!--Data-->

                        </div>

                        <div name="clock" class="flex flex-row gap-1 ml-4 mt-1">
                            <div name="n1" class="flex items-center justify-center  bg-[#09151B] aspect-square w-12 rounded-lg border-[1px] border-white" style="box-shadow: 3px 3px 0px #09151B;filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.4));">
                                <p class="text-white font-semibold text-[32px]">1</p>
                            </div>
                        
                            <div name="n2" class="flex items-center justify-center bg-[#09151B] aspect-square w-12 rounded-lg border-[1px] border-white" style="box-shadow: 3px 3px 0px #09151B;filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.4));">
                                <p class="text-white font-semibold text-[32px]">2</p>
                            </div>
                        
                            <div class="flex items-center justify-center">
                                <p class="font-bold text-[32px]">:</p>
                            </div>
                        
                            <div name="n3" class="flex items-center justify-center  bg-[#09151B] aspect-square w-12 rounded-lg border-[1px] border-white" style="box-shadow: 3px 3px 0px #09151B;filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.4));">
                                <p class="text-white font-semibold text-[32px]">3</p>
                            </div>
                        
                            <div name="n4" class="flex items-center justify-center  bg-[#09151B] aspect-square w-12 rounded-lg border-[1px] border-white" style="box-shadow: 3px 3px 0px #09151B;filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.4));">
                                <p class="text-white font-semibold text-[32px]">4</p>
                            </div>
                        </div>
                        
                        <div name="currentProgressAndProgressBar" class="ml-4 flex-col w-full mt-2"> <!--Progress bar and completed tasks-->
                            <div name="currentProgress">
                                <p class="font-normal text-sm mt-2 text-[#818AA3] drop-shadow-lg"style="filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));"> Current Progress- <span class="drop-shadow-lg" id="percentOfCompletedTasks"></span></p>
                            </div>
                            <div name="progressBar" class="shadow-md" style="height: 15px; border-radius: 5px; background-color: #CACACA; width: 200px; position: relative;">
                                <div id="progress" class="bg-black" style="width: 0; height: 15px; border-radius: 5px;"></div>
                            </div>
                            <div name="completedTasks" class="mt-1.5">
                                <p class="font-normal text-sm text-[#09151B] drop-shadow-lg" style="filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));"><span style="filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));" id="tasksDone">0</span>/<span id="allTasks">0</span> tasks are done!</p>
                            </div>
                            <script>
                                document.addEventListener("DOMContentLoaded", function () {
                                    let completedTasks = 6; // Pobierz z bazy ilość ukończonych tasków
                                    let numberOfAllTasks = 12; // Pobierz z bazy ilość wszystkich tasków
                                    
                                    function increaseProgress() {
                                        let progressBar = document.getElementById("progress");
                                        let percentOfCompletedTasks = document.getElementById("percentOfCompletedTasks");
                                        let tasksDone = document.getElementById("tasksDone");
                                        let allTasks = document.getElementById("allTasks");
                                        if (tasksDone) {
                                            tasksDone.innerHTML = completedTasks;
                                        }
                                        if(allTasks){
                                            allTasks.innerHTML = numberOfAllTasks;
                                        }
                                        if (progressBar) {
                                            let progressWidth = (200 * completedTasks / numberOfAllTasks) + "px";
                                            progressBar.style.width = progressWidth;
                                        }
                                        if(percentOfCompletedTasks){
                                            percentOfCompletedTasks.innerHTML = Math.round((completedTasks / numberOfAllTasks) * 100) + "%";
                                        }
                                    }
                            
                                    increaseProgress();
                                });
                            </script>
                            
                        </div>
                    </div>

                </div>

                <div name="scheadule" class="flex flex-col w-full bg-[#F1F9FE] rounded-lg border-[2px] border-[#ced7dcbb] shadow-[3px_3px_0px_#CAD1D6] drop-shadow-md">
                    <div name="scheadule-content">
                        <div name="notes-content" class="flex flex-col w-[90%] ml-6 justify-center mt-4">
                            <div name="textLogoAndSort" class="flex flex-row justify-between">
                                <div name="textAndLogo" class="flex flex-row gap-1 items-center">
                                    <img src="{% static 'img/calendar.png' %}">
                                    <p>Today's scheadule</p>
                                </div>
                                <div name="sort" class="flex flex-row items-center mr-3 gap-2">
                                    <button onclick="getTasksForSchedule('date')"><img src="{% static 'img/clock.png' %}"></button>
                                    <button onclick="getTasksForSchedule('importance')"><img src="{% static 'img/star.png' %}"></button>
                                </div>
                            </div>
                        </div>
                        <div name="tasks" class="flex flex-col w-[90%] ml-4 justify-center mt-4">
                            <div name="task" class="border-2 rounded-[12px] text-white flex flex-row justify-between gap-2 bg-[#09151B]" style="filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.2));">
                                <div name="time" class="flex justify-center items-center">
                                    <p class="p-2 ml-4">7.00am</p>
                                </div>
                                <div name="titleAndDescription" class="flex flex-col p-2">
                                    <p name="title">Call your boss</p>
                                    <p name="description" class="text-[10px] max-w-[150px]">Some boiled eggs with white cheese and  bread</p>
                                </div>
                                <div name="edit" class="m-3">
                                    <a href="#"><img src="{% static 'img/edit.png' %}"></a>
                                </div>
                            </div>
                            <div name="task" class="border-2 rounded-[12px] text-white flex flex-row justify-between gap-2 bg-[#09151B]" style="filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.2));">
                                <div name="time" class="flex justify-center items-center">
                                    <p class="p-2 ml-4">7.00am</p>
                                </div>
                                <div name="titleAndDescription" class="flex flex-col p-2">
                                    <p name="title">Call your boss</p>
                                    <p name="description" class="text-[10px] max-w-[150px]">Some boiled eggs with white cheese and  bread</p>
                                </div>
                                <div name="edit" class="m-3">
                                    <a href="#"><img src="{% static 'img/edit.png' %}"></a>
                                </div>
                            </div>
                        </div>
                        <div name="addTask" class="ml-6 mt-3 mb-4">
                            <a href="#" class="rounded-xl border-2 border-[#09151B] p-1 pl-3 pr-3">Add Task</a>
                        </div>
                    </div>
                </div>

                <div name="notes" class="flex flex-col w-full bg-[#F1F9FE] rounded-lg border-[2px] border-[#ced7dcbb] shadow-[3px_3px_0px_#CAD1D6] drop-shadow-md">
                    <div name="notes-content" class="flex flex-col w-[90%] ml-6 justify-center mt-4">
                        <div name="textAndLogoAndEdit" class="flex flex-row justify-between">
                            <div name="logoAndText" class="flex flex-row gap-1 items-center">
                                <img style="filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.171));" src="{% static 'img/box.png' %}">
                                <p style="filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.4));">Your notes</p>
                            </div>
                            <div name="edit" class="flex items-center mr-2">
                                <a href="#"><img src="{% static 'img/edit.png' %}"> </a>
                            </div>
                        </div>
                        <div name="text">
                            <p style="max-width: 250px;color:#8A95A3;filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));" class="text-[13px] m-1 mt-2 mb-3">{{notes.text}}</p>
                        </div>
                    </div>
                </div>
                <div name="MarkedTasks" class="flex flex-col w-full bg-[#F1F9FE] rounded-lg border-[2px] border-[#ced7dcbb] shadow-[3px_3px_0px_#CAD1D6] drop-shadow-md">
                    <div name="MarkedTasks-content">
                        <div name="notes-content" class="flex flex-col w-[90%] ml-6 justify-center mt-4">
                            <div name="textLogoAndSort" class="flex flex-row justify-between">
                                <div name="textAndLogo" class="flex flex-row gap-1 items-center">
                                    <img src="{% static 'img/calendar.png' %}">
                                    <p>Marked Tasks</p>
                                </div>
                                <div name="sort" class="flex flex-row items-center mr-3 gap-2">
                                    <button onclick="getMarkedTasks('date')"><img src="{% static 'img/clock.png' %}"></button>
                                    <button onclick="getMarkedTasks('importance')"><img src="{% static 'img/star.png' %}"></button>
                                </div>
                            </div>
                            <script>
                                //TODO write this to html
                                getTasksForSchedule('date')
                                getMarkedTasks('date')
                            </script>
                        </div>
                        <div name="tasks" class="flex flex-col w-[90%] ml-4 justify-center mt-4">
                            <div name="task" class="border-2 rounded-[12px] text-white flex flex-row justify-between gap-2 bg-[#09151B]" style="filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.2));">
                                <div name="time" class="flex justify-center items-center">
                                    <p class="p-2 ml-4">7.00am</p>
                                </div>
                                <div name="titleAndDescription" class="flex flex-col p-2">
                                    <p name="title">Call your boss</p>
                                    <p name="description" class="text-[10px] max-w-[150px]">Some boiled eggs with white cheese and  bread</p>
                                </div>
                                <div name="edit" class="m-3">
                                    <a href="#"><img src="{% static 'img/edit.png' %}"></a>
                                </div>
                            </div>
                            <div name="task" class="border-2 rounded-[12px] text-white flex flex-row justify-between gap-2 bg-[#09151B]" style="filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.2));">
                                <div name="time" class="flex justify-center items-center">
                                    <p class="p-2 ml-4">7.00am</p>
                                </div>
                                <div name="titleAndDescription" class="flex flex-col p-2">
                                    <p name="title">Call your boss</p>
                                    <p name="description" class="text-[10px] max-w-[150px]">Some boiled eggs with white cheese and  bread</p>
                                </div>
                                <div name="edit" class="m-3">
                                    <a href="#"><img src="{% static 'img/edit.png' %}"></a>
                                </div>
                            </div>
                        </div>
                        <div name="addTask" class="ml-6 mt-3 mb-4">
                            <a href="#" class="rounded-xl border-2 border-[#09151B] p-1 pl-3 pr-3">Add Task</a>
                        </div>
                    </div>
                </div>
            </div>  
            <div name="right-column" class="flex flex-col gap-2 ml-4 w-full"> <!--Prawa kolumna z  paskiem wyboru listy, przyciskiem  dodawania taska oraz sortowania-->
                <div name="buttons"  class="flex flex-row w-full bg-[#F1F9FE] rounded-lg border-[2px] border-[#ced7dcbb] shadow-[3px_3px_0px_#CAD1D6] drop-shadow-md">
                    <div name="buttons-content" class="flex flex-row justify-between w-full m-3 items-center">
                        <div class="flex flex-row gap-2">
                            <div name="addTask">
                                <button class="text-white border-2 border-[#E4EAEE] bg-[#09151B] px-4 py-3 text-base font-medium rounded-2xl shadow-[3px_4px_0px_#09151B]">
                                    Add Task
                                </button>
                            </div>
                            <div name="lists" class="m-4">
                                <a href="#" class="text-white border-2 ml-2 border-[#E4EAEE] bg-[#09151B] px-4 py-3 text-base font-medium rounded-2xl shadow-[3px_4px_0px_#09151B]">List one</a>
                                <a href="#" class="text-white border-2 ml-2 border-[#E4EAEE] bg-[#09151B] px-4 py-3 text-base font-medium rounded-2xl shadow-[3px_4px_0px_#09151B]">List two</a>
                                <a href="#" class="text-white border-2 ml-2 border-[#E4EAEE] bg-[#09151B] px-4 py-3 text-base font-medium rounded-2xl shadow-[3px_4px_0px_#09151B]">List three</a>
                            </div>
                        </div>
                        <div name="sort" class="flex flex-row items-center gap-5 mr-5">
                            <p>Sort by:</p>
                            <button onclick="">Time</button>
                            <button onclick="">Importance</button>
                        </div>
                    </div>
                </div>
                <script>
                    function showHideSubtasks(){
                        let subtasks = document.getElementById("subtasks");
                        if(subtasks.style.display === "none"){
                            subtasks.style.display = "block";
                        } else {
                            subtasks.style.display = "none";
                        }
                    }
                </script>
                <div name="MainTasksContainer" class="flex flex-row gap-5 w-full mt-3"> <!--Div na taski-->
                    <div name="leftColumn" class="flex flex-col gap-4 w-[48%]">
                        <div name="ExampleTask" onclick="showHideSubtasks()" class="flex flex-col gap-4 bg-[#FFE68E] rounded-xl shadow-[0px_2px_4px_rgba(0,0,0,0.25)] cursor-pointer select-none">
                            <div name="Task-content" class="flex flex-col m-7 ml-12">
                                <div name="tags" class="flex flex-row gap-8 text-sm">
                                    <p name="time" class="flex flex-row items-center gap-1 drop-shadow-[0px_2px_4px_rgba(0,0,0,0.25)]">
                                        <img src="{% static 'img/clock.png' %}" class="h-[20px]"> 11.00 AM
                                    </p>
                                    <p name="importance" class="flex flex-row items-center gap-1 drop-shadow-[0px_2px_4px_rgba(0,0,0,0.25)]">
                                        <img src="{% static 'img/!.png' %}" class="h-[20px]"> Easy Task
                                    </p>
                                    <p name="notification" class="flex flex-row items-center gap-1 drop-shadow-[0px_2px_4px_rgba(0,0,0,0.25)]">
                                        <img src="{% static 'img/bell.png' %}" class="h-[20px]"> Notification - Yes
                                    </p>
                                </div>
                                <div name="title" class="mt-4 drop-shadow-[0px_2px_4px_rgba(0,0,0,0.25)]">
                                    <p class="font-semibold text-[20px]">Design UI Dashboard</p>
                                </div>
                                <div name="desciption" class="mt-2">
                                    <p name="description-text" class="text-[12px] max-w-[70%] drop-shadow-[0px_2px_4px_rgba(0,0,0,0.25)]">
                                        Create a modern UI for the task management dashboard with a clean layout.
                                    </p>
                                </div>
                                <div name="task-progress">
                                    <div name="currentProgress">
                                        <p class="font-normal text-sm mt-2 drop-shadow-[0px_2px_4px_rgba(0,0,0,0.25)]">
                                            Current Progress - <span id="percentOfCompletedTasks">25%</span>
                                        </p>
                                    </div>
                                    <div name="progressBar" class="relative w-[300px] h-[15px] rounded-[5px] bg-[#CACACA] drop-shadow-[0px_2px_4px_rgba(0,0,0,0.25)]">
                                        <div id="progress" class="bg-black w-[50px] h-[15px] rounded-[5px]"></div>
                                    </div>
                                    <div name="completedTasks" class="mt-1.5">
                                        <p class="font-normal text-sm text-[#09151B] drop-shadow-[0px_2px_4px_rgba(0,0,0,0.25)]">
                                            <span id="tasksDone">5</span>/<span id="allTasks">20</span> tasks are done!
                                        </p>
                                    </div>
                                </div>
                                <div name="people" class="flex flex-row mt-3">
                                    <img src="{% static 'img/users.png' %}" class="drop-shadow-[0px_2px_4px_rgba(0,0,0,0.25)]">
                                </div>

                                <div id="subtasks">
                                    <form id="subtasksForm" class="flex flex-col gap-2 p-4 rounded-lg w-fit">
                                        <label class="flex items-center gap-2 text-black text-base">
                                            <input type="checkbox" class="hidden peer" />
                                            <span class="w-4 h-4 border-2 border-black flex items-center justify-center peer-checked:bg-black">
                                            </span>
                                            Call client
                                        </label>
                                
                                        <label class="flex items-center gap-2 text-black text-base">
                                            <input type="checkbox" class="hidden peer" />
                                            <span class="w-4 h-4 border-2 border-black flex items-center justify-center peer-checked:bg-black">
                                            </span>
                                            Talk about preferences
                                        </label>
                                
                                        <label class="flex items-center gap-2 text-black text-base">
                                            <input type="checkbox" class="hidden peer" />
                                            <span class="w-4 h-4 border-2 border-black flex items-center justify-center peer-checked:bg-black">
                                                <svg class="w-3 h-3 text-white hidden peer-checked:block" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg>
                                            </span>
                                            Visualize his idea
                                        </label>
                                        <form name="addSubtask" class="w-fit mt-1">
                                            <input type="text" name="title" placeholder="Add subtask..." class="outline-none bg-transparent text-black text-base" style="all:unset">
                                        </form>
                                    </form>
                                
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div name="rightColumn" class="flex flex-col gap-4 w-[48%]">
                        <div name="ExampleTask" class="flex flex-col gap-4 bg-[#90CDFF] rounded-xl shadow-[0px_2px_4px_rgba(0,0,0,0.25)]">
                            <div name="Task-content" class="flex flex-col m-7 ml-12">
                                <div name="tags" class="flex flex-row gap-8 text-sm">
                                    <p name="time" class="flex flex-row items-center gap-1 drop-shadow-[0px_2px_4px_rgba(0,0,0,0.25)]">
                                        <img src="{% static 'img/bell.png' %}" class="h-[20px]"> 11.00 AM
                                    </p>
                                    <p name="importance" class="flex flex-row items-center gap-1 drop-shadow-[0px_2px_4px_rgba(0,0,0,0.25)]">
                                        <img src="{% static 'img/bell.png' %}" class="h-[20px]"> Easy Task
                                    </p>
                                    <p name="notification" class="flex flex-row items-center gap-1 drop-shadow-[0px_2px_4px_rgba(0,0,0,0.25)]">
                                        <img src="{% static 'img/bell.png' %}" class="h-[20px]"> Notification - Yes
                                    </p>
                                </div>
                                <div name="title" class="mt-4 drop-shadow-[0px_2px_4px_rgba(0,0,0,0.25)]">
                                    <p class="font-semibold text-[20px]">Design UI Dashboard</p>
                                </div>
                                <div name="desciption" class="mt-2">
                                    <p name="description-text" class="text-[12px] max-w-[70%] drop-shadow-[0px_2px_4px_rgba(0,0,0,0.25)]">
                                        Create a modern UI for the task management dashboard with a clean layout.
                                    </p>
                                </div>
                                <div name="task-progress">
                                    <div name="currentProgress">
                                        <p class="font-normal text-sm mt-2 drop-shadow-[0px_2px_4px_rgba(0,0,0,0.25)]">
                                            Current Progress - <span id="percentOfCompletedTasks">25%</span>
                                        </p>
                                    </div>
                                    <div name="progressBar" class="relative w-[300px] h-[15px] rounded-[5px] bg-[#CACACA] drop-shadow-[0px_2px_4px_rgba(0,0,0,0.25)]">
                                        <div id="progress" class="bg-black w-[50px] h-[15px] rounded-[5px]"></div>
                                    </div>
                                    <div name="completedTasks" class="mt-1.5">
                                        <p class="font-normal text-sm text-[#09151B] drop-shadow-[0px_2px_4px_rgba(0,0,0,0.25)]">
                                            <span id="tasksDone">5</span>/<span id="allTasks">20</span> tasks are done!
                                        </p>
                                    </div>
                                </div>
                                <div name="people" class="flex flex-row mt-3">
                                    <img src="{% static 'img/users.png' %}" class="drop-shadow-[0px_2px_4px_rgba(0,0,0,0.25)]">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}