{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/room.css' %}">
{% endblock %}

{% block content %}
    Room <br> <br>
    Invite code: {{room.invite_code}} <br> <br>

    {% if room.admin.user == request.user and users|length > 1 %}
        
        Zarzadzaj użytkownikami: <br>
        {% for user in users %}
            {% if not request.user.username == user.user.username %}
                <div>{{user.user.username}} <button><a href="remove/{{user.pk}}/">USUŃ</a></button></div><br>
            {% endif %}
        {% endfor %}
    
    {% endif %}

    <form method="POST" id="addTask">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title"> <br>
        <input type="text" name="description" placeholder="Description"> <br>
        <input type="datetime-local" name="date"> <br>
        <select name="importance" id="importance">
            <option value="trivial">Trivial</option>
            <option value="important">Important</option>
            <option value="high_priority">High Priority</option>
            <option value="very_important">Very Important</option>
        </select>
        <input type="submit" value="Add Task">
    </form>

    <script>
        //*************** SEND TASKS ***************
        $('#addTask').on('submit', function(e) {
            e.preventDefault();

            var title = $('input[name="title"]').val();
            var description = $('input[name="description"]').val();
            var date = $('input[name="date"]').val();
            var importance = $('#importance').val();
            console.log(title, description, date, importance);

            $.ajax({
                url: 'add-task/',
                type: 'POST',
                data: {
                    title: title,
                    description: description,
                    date: date,
                    importance: importance
                },
                headers: {
                    'X-CSRFToken': '{{csrf_token}}'
                },
                success: function(response) {
                    getTasks()
                }
            });
        });

        //*************** GET TASKS ***************
        function getTasks(){
            $.ajax({
                url: 'get-tasks/',
                type: 'GET',
                success: function(data) {
                    $('#tasks').html('');
                    data.tasks.forEach(function (task) {
                        //*********************************
                        // HERE ARE ELEMENTS WITH THE TASKS
                        //*********************************

                        //******** START TASK DIV ********
                        $('#tasks').append(
                            `<div id="taskID${task.id}" onchange='completeTask(${task.id}, "task")'>` +
                                '<h2 class="title">' + task.title + '</h2>' +
                                '<h4 class="desc">' + task.description + '</h4>' +
                                '<h4 class="date">' + task.date + '</h4>' +
                                '<h4 class="importance">' + task.importance + '</h4>' +
                                '<input class="checkbox" type="checkbox" id="check' + task.id + '" ><br><br>'
                        )

                        //******** START SUBTASKS DIV ********
                        data.subtasks.forEach(function(subtask){
                            if(subtask.task_id == task.id){
                                $('#tasks').append(
                                    `<div id="subtaskID${subtask.id}" onchange='completeTask(${subtask.id}, "subtask")'>` +
                                        subtask.title +
                                        '<input type="checkbox" class="checkbox" id="subcheck' + subtask.id + '" >' +
                                    '</div>'
                                )
                                document.getElementById('subcheck' + subtask.id).checked = subtask.completed; //SET CHECKBOX STATE FROM DATABASE
                            }
                        })
                        //******** END SUBTASKS DIV **********


                        //******* END TASK DIV *******
                        $('#tasks').append(
                                '<hr>' +
                            '</div>'
                        );
                        document.getElementById('check' + task.id).checked = task.completed; //SET CHECKBOX STATE FROM DATABASE
                    })
                }
            });
        }
        getTasks()

        //*************** SAVE COMPLETE TASK ***************
        //********* task_type: task or subtask *************
        function completeTask(id, task_type){
            task = task_type == 'task' ? $('#taskID' + id) : $('#subtaskID' + id)
            // console.log(task.find('.checkbox'))
            // console.log(task.find('.checkbox').prop('checked'))
            $.ajax({
                url: 'complete-task/' + id + '/' + task_type + '/',
                type: 'POST',
                data: {
                    completed: task.find('.checkbox').prop('checked')
                },
                headers: {
                    'X-CSRFToken': '{{csrf_token}}'
                },
                success: function(response) {
                    getTasks()
                },
                error: function(xhr, status, error) {
                    console.error('Blad AJAX:', status, error);
                }
            });
        }
    </script>

    <br> <br>

    <!-- ************** TASKS DIV **************** -->
    <div id="tasks"></div>

{% endblock %}